body {
}

h2.page-header {
    padding-bottom: 0px;
    margin: 11px 0;
}

h2 code {
    font-size: 24px;
}

.tocWrap {
    position: fixed; 
    width: auto;
    z-index: 100;
    top: 20%;
    /*right: 33%;*/
    left: 0;
    /*overflow: hidden*/
    display: none;
}

.tocWrap .toggler {
    text-align: center;
    float: right;
    font-size: 14px;
    background: #F0C81E;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    color: #122;
    position: relative;
    z-index: 101;
    cursor: pointer;
}

.tocWrap a:hover {
    color: red;
}

.navbar-search button {
    background-color: #2C2C2C;
    border: #2C2C2C;
    /*padding-left: 6px;*/
}

.footer {
    margin-top: 45px;
    padding: 20px 0 21px;
    border-top: 1px solid #e5e5e5;
}

#license img {
    float: left;
}

#license p {
    /*padding-left: 10px;*/
}

/* vim:se fdm=marker fmr={,}: */

